<!doctype html>

{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
     .row.content{
     min-height: :600px;
	 width : 800px;}
    
    .sidenav{
      background-color: #f1f1f1;
      height: 100%;
    }
    
     footer{
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    
    @media screen and (max-width: 767px) {
      .sidenav{
        height: auto;
        padding: 15px;
      }
      .row.content{
      	height: auto;
      	min-height: 800px;
      } 
    }
  </style>
    
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css " %}" >
		<title>Home</title>
	
	</head>
	
	<body>
		 
		
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>                        
						</button>
						<a class="navbar-brand" href="#"><img src="{% static "IMG/weblog.png " %}" class="img-thumbnail" alt="LOGO" width="65" height="50"></a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
							{% if request.get_full_path == "/weblog/" %}
								<li class="active"><a href="/weblog/">Home</a></li>
							{% else %}
								<li><a href="/weblog">Home</a></li>
							{% endif %}
							{% if request.get_full_path == "/weblog/about" %}
								<li class="active"><a href="/weblog/about">About</a></li>
							{% else %}
								<li><a href="/weblog/about">About</a></li>
							{% endif %}
							{% if request.get_full_path == "/weblog/contact" %}
								<li class="active"><a href="#">Contact</a></li>
							{% else %}
								<li><a href="#">Contact</a></li>
							{% endif %}
							
							
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/accounts/register">Register</a> 
							</li>
								
							{% if user.is_authenticated %}
							<li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> LOG OUT</a></li>
							{% else %}
							<li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> LOG IN</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
		</nav>
		

			<div class="container-fluid">
		 
				<div class="row content">
				
				
			<div class="col-sm-9">	
			{% block content %}
			{% endblock %}
			
			</div>
		</div>
		</div>
			
			
			
		<footer class="container-fluid">
  		<p align="center">Made with Love : AbhiTaker</p>
		</footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{% static "js/bootstrap.min.js " %}"></script>
	</body>
	
	
</html>